---
title: Index
listed: false
published: true
---
!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %title {{site.name}}
    //TODO create favicon
    //%link{:href => "images/favicons/favicon.ico", :rel => "icon"}/
    %link{:href => "images/favicons/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    {% include analytics %}
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet"}/
    %link{:href => "{{ 'favicon.ico' | theme_image_url }}", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}
    {{ 'bootstrap.min.css' | stylesheet_tag }}
    {{ 'font-awesome.min.css' | stylesheet_tag }}
    {{ 'animate.min.css' | stylesheet_tag }}
    {{ 'style.css' | stylesheet_tag }}
    / COLORS STYLES
    {{ 'colors/blue.css' | stylesheet_tag }}
  %body.enable-animations.enable-preloader
    #document.document
      / HEADER
      %header#header.header-section.section.section-dark.navbar.navbar-fixed-top
        .container-fluid
          .navbar-header.navbar-left
            / RESPONSIVE MENU BUTTON
            %button.navbar-toggle{"data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            / HEADER LOGO
            %a.navbar-logo.navbar-brand.anchor-link{:href => "#hero"}
              {{ 'logos/header-logo.png' | theme_image_tag: "alt:Myrick" }}
          %nav#navigation.navigation.navbar-collapse.collapse.navbar-right
            / NAVIGATION LINKS
            %ul#header-nav.nav.navbar-nav
              %li
                %a.hidden{:href => "#hero"} Top
              %li
                %a{:href => "#about"} About
              %li
                %a{:href => "#benefits"} Products
              %li
                %a{:href => "#how-it-works"} How it Works
              %li
                %a{:href => "#testimonial-slider"} Testimonial
              / HEADER ACTION BUTTON
              %li.header-action-button
                %a.btn.btn-primary{:href => "#contact-maps"} Contact Us
      / HERO
      %section#hero.hero-section.hero-layout-simple.hero-fullscreen.section.section-dark
        .section-background
          / IMAGE BACKGROUND
          .section-background-image.parallax{"data-stellar-ratio" => "0.4"}
            {{ 'backgrounds/section1_background.jpg' | theme_image_tag: 'class:opacity-07' }}
        .container
          .hero-content
            .hero-content-inner
              .row
                .col-md-10.col-md-offset-1
                  .hero-heading.text-center{"data-animation" => "fadeIn"}
                    %h1.hero-title
                      {{ 'logos/myrick_logo_white.png' | theme_image_tag }}
                    %p.hero-tagline Where Ideas Come to Life
                  %p.hero-buttons.text-center
                    %a.btn.btn-lg.btn-default{:href => "#about"} Learn More
                    %a.btn.btn-lg.btn-primary{:href => "#contact-maps"} Contact Us
        / HERO START LINK
        %a.hero-start-link.anchor-link{:href => "#headline"}
          %span.fa.fa-angle-double-down
      / HEADLINE
      %section#headline.headline-section.section-gray.section
        .container
          %h2.section-heading.text-center.hidden Tagline
          .row
            .col-md-10.col-md-offset-1
              .headline-text
                {% editable_text "tagline", hint: "Short tagline that appears directly under the hero area" %}
                %p
                  Status quo doesn't work for us. Going above and beyond for our
                  customers is not just a saying; it's the way we live. Our
                  mission is to provide the most memorable experience for our
                  customers and theirs.
                {% endeditable_text %}
      / DESCRIPTION
      %section#about.about-section.section
        .container
          %h2.section-heading.text-center About Myrick Consulting
          .about-row.row
            / DESCRIPTION IMAGE
            .about-image.col-md-6{"data-animation" => "fadeIn"}
              {{ 'contents/about_image.jpg' | theme_image_tag: "alt: Description Image" }}
            / DESCRIPTION TEXT
            .about-text.col-md-6
              .lead
                {% editable_text "About section lead", hint: "Short lead that appears directly above about text" %}
                %p
                  We are quality and customer centric enabling us to build great
                  relationships with our customers and within our community.
                {% endeditable_text %}
              {% editable_text "About section main text", hint: "About section main text" %}
              %p
                Myrick Consulting is an advertising company that specializes in
                print and digital advertising. We Partner with businesses to
                develop, execute, manage, and analyze your advertising
                campaigns. Myrick provides quality print products, digital
                advertising, websites, hosting and may other services. We are
                quality and customer centric enabling us to build great
                relationships with our customers and within our community.
              {% endeditable_text %}
      / Products
      %section#benefits.benefits-section.section-gray.section
        .container
          %h2.section-heading.text-center Products
          .benefits-row.row
            / BENEFIT 1
            .col-sm-6.col-md-4
              .benefit
                %span.benefit-icon.fa.fa-area-chart{"data-animation" => "bounceIn"}
                %h4.benefit-title Marketing Strategy/Analysis
                .benefit-description
                  {% editable_text "Product 1" %}
                  %p
                    Quality strategies with unparalleled analysis! Campaigns are
                    only as good as the data it generates, and how you read and
                    react to it. This is where Myrick excels.
                  {% endeditable_text %}
            / BENEFIT 2
            .col-sm-6.col-md-4
              .benefit
                %span.benefit-icon.fa.fa-laptop{"data-animation" => "bounceIn"}
                %h4.benefit-title Websites
                .benefit-description
                  {% editable_text "Product 2" %}
                  %p
                    Modern designs with easy to maintain CMS's for lower
                    maintenance costs. Sites built with optimization in mind.
                  {% endeditable_text %}
            .hidden-md.hidden-lg.clear
            / BENEFIT 3
            .col-sm-6.col-md-4
              .benefit
                %span.benefit-icon.fa.fa-print{"data-animation" => "bounceIn"}
                %h4.benefit-title Print
                .benefit-description
                  {% editable_text "Product 3" %}
                  %p
                    From business cards to 25' banners and everything in between.
                    Producing mail campaigns, brochures, presentation folders and
                    more all while using the most high quality printing
                    practices.
                  {% endeditable_text %}
            .hidden-sm.clear
            / BENEFIT 4
            .col-sm-6.col-md-4
              .benefit
                %span.benefit-icon.fa.fa-rocket{"data-animation" => "bounceIn"}
                %h4.benefit-title SEO
                .benefit-description
                  {% editable_text "Product 4" %}
                  %p
                    Our SEO & PPC department work hand and hand with our website
                    department so you can hit the ground running. We use best
                    practices from Google, and are Google certified.
                  {% endeditable_text %}
            .hidden-md.hidden-lg.clear
            / BENEFIT 5
            .col-sm-6.col-md-4
              .benefit
                %span.benefit-icon.fa.fa-crop{"data-animation" => "bounceIn"}
                %h4.benefit-title Graphic Design
                .benefit-description
                  {% editable_text "Product 5" %}
                  %p
                    Design in a way to draw attention and invoke a quality response or lead!
                  {% endeditable_text %}
            / BENEFIT 6
            .col-sm-6.col-md-4
              .benefit
                %span.benefit-icon.fa.fa-hand-o-up{"data-animation" => "bounceIn"}
                %h4.benefit-title Digital Advertising
                .benefit-description
                  {% editable_text "Product 6" %}
                  %p
                    Re-Targeting, Digital Display, and IP Targeting! Narrow your
                    demographic by using one or many of the 750 plus different
                    household criteria you can choose from.
                  {% endeditable_text %}
      / HOW IT WORKS
      %section#how-it-works.how-it-works-section.section
        .container-fluid
          %h2.section-heading.text-center How it Works
          .hiw-row.row
            / HOW IT WORKS - ITEM 1
            .col-sm-6.col-md-3{"data-animation" => "fadeIn"}
              .hiw-item
                {{ 'contents/step-1.jpg' | theme_image_tag: "class:hiw-item-picture" }}
                .hiw-item-text
                  %span.hiw-item-icon 1
                  %h4.hiw-item-title Contact Myrick
                  .hiw-item-description
                    {% editable_text "How It Works 1" %}
                    %p
                      Call us, use our contact form on this page, Tweet at us,
                      post on our Facebook page! Just reach out any way you can
                      so we can get started.
                    {% endeditable_text %}
                    %p
                      %a.btn.btn-primary{:href => "#contact-maps"} Contact Us


            / HOW IT WORKS - ITEM 2
            .col-sm-6.col-md-3{"data-animation" => "fadeIn"}
              .hiw-item.even
                {{ 'contents/step-2.jpg' | theme_image_tag: "class:hiw-item-picture" }}
                .hiw-item-text
                  %span.hiw-item-icon 2
                  %h4.hiw-item-title Research & Strategize
                  .hiw-item-description
                    {% editable_text "How It Works 2" %}
                    %p
                      We research your primary and secondary demographic, and
                      then develop the strategy and message to reach them.
                    {% endeditable_text %}
            .hidden-md.hidden-lg.clear
            / HOW IT WORKS - ITEM 3
            .col-sm-6.col-md-3{"data-animation" => "fadeIn"}
              .hiw-item
                {{ 'contents/step-3.jpg' | theme_image_tag: "class:hiw-item-picture" }}
                .hiw-item-text
                  %span.hiw-item-icon 3
                  %h4.hiw-item-title Execute & Manage 
                  .hiw-item-description
                    {% editable_text "How It Works 3" %}
                    %p
                      Execute & manage the campaign. Adjusting the campaign if
                      necessary based on the analytics is something Myrick
                      prides itself on.
                    {% endeditable_text %}
            / HOW IT WORKS - ITEM 4
            .col-sm-6.col-md-3{"data-animation" => "fadeIn"}
              .hiw-item.even
                {{ 'contents/step-4.jpg' | theme_image_tag: "class:hiw-item-picture" }}
                .hiw-item-text
                  %span.hiw-item-icon 4
                  %h4.hiw-item-title Reporting
                  .hiw-item-description
                    {% editable_text "How It Works 4" %}
                    %p
                      Reporting is one of the most important steps we take with
                      our clients. We go over these reports with you, what
                      worked best and continue to move forward with those best
                      practices.
                    {% endeditable_text %}
            / HOW IT WORKS - ITEM 4
      / TESTIMONIAL SLIDER
      %section#testimonial-slider.testimonial-slider-section.section-dark.section
        .section-background
          / IMAGE BACKGROUND
          .section-background-image.parallax{"data-stellar-ratio" => "0.4"}
            {{ 'backgrounds/testimonial-slider-bg.jpg' | theme_image_tag: "class:opacity-015" }}
        .container
          %h2.section-heading.text-center.hidden Trusted by Thousands
          .testimonial-slider-row.row
            .col-md-8.col-md-offset-2
              %ul.testimonial-slider.rslides{"data-auto" => "false", "data-speed" => "800", "data-timeout" => "4000"}
                / TESTIMONIAL ITEM 2
                .testimonial-slide
                  %span.testimonial-ratings
                    %span.fa.fa-star
                    %span.fa.fa-star
                    %span.fa.fa-star
                    %span.fa.fa-star
                    %span.fa.fa-star
                  %blockquote.testimonial-quote
                    {% editable_text "Testimonial 1" %}
                    %p Fast, affordable and cares about the customer and their pockets, A+ service!
                    {% endeditable_text %}
                  .testimonial-cite
                    {% editable_text "Testimonial 1 - cite" %}
                    %p George Vlahakis, TwiztID
                    {% endeditable_text %}
                / TESTIMONIAL ITEM 3
                %li.testimonial-slide
                  %span.testimonial-ratings
                    %span.fa.fa-star
                    %span.fa.fa-star
                    %span.fa.fa-star
                    %span.fa.fa-star
                    %span.fa.fa-star
                  %blockquote.testimonial-quote
                    {% editable_text "Testimonial 2" %}
                    %p
                      Myrick Consulting is like having your own personal print
                      shop. The staff is personable, professional, and always
                      goes that extra mile to meet your every need. Not to
                      mention, the quality of all of their products is top
                      notch and the delivery times are untouchable. If you
                      need quality printed products at a remarkable price,
                      think Myrick Consulting. I do.
                    {% endeditable_text %}
                  .testimonial-cite 
                    {% editable_text "Testimonial 2 - cite" %}
                    %p Rico Mann, Parks Millican & Mann
                    {% endeditable_text %}
                / TESTIMONIAL ITEM 4
                .testimonial-slide
                  %span.testimonial-ratings
                    %span.fa.fa-star
                    %span.fa.fa-star
                    %span.fa.fa-star
                    %span.fa.fa-star
                    %span.fa.fa-star
                  %blockquote.testimonial-quote
                    {% editable_text "Testimonial 3" %}
                    %p
                      We have been dealing with Chris for a long time now and
                      would follow him anywhere. The quality and service has
                      been the best we have come across in our 30 years of
                      business by far!!!
                    {% endeditable_text %}
                  .testimonial-cite
                    {% editable_text "Testimonial 3 - cite" %}
                    %p Alex Servellon, Audio Advisers Inc.
                    {% endeditable_text %}
          /.sponsors-row{"data-animation" => "bounceIn"}
          /%img{:alt => "", :src => "images/contents/sponsor-1a.png"}/
          /%img{:alt => "", :src => "images/contents/sponsor-2a.png"}/
          /%img{:alt => "", :src => "images/contents/sponsor-3a.png"}/
          /%img{:alt => "", :src => "images/contents/sponsor-4a.png"}/
      / CONTACT + MAPS
      %section#contact-maps.contact-maps-section.section
        .section-background
          / MAPS BACKGROUND
          .section-background-maps
            #gmap
            %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false"}
            / GOGGLE MAPS CONFIGURATION
            / ref: http://maplacejs.com/
            :javascript
              var gmap_options = {
                generate_controls : false,
                locations : [{
                  lat : 40.1983,
                  lon : -83.0103,
                  animation : google.maps.Animation.DROP,
                  html : "Headquarters",
                  icon : '{{"contents/map-1.png" | theme_image_url}}',
                  clickable : false,
                }],
                map_options : {
                  scrollwheel : false,
                  mapTypeControl : false,
                  streetViewControl : false,
                  zoomControlOptions : {
                    style : google.maps.ZoomControlStyle.SMALL,
                  },
                  zoom : 11,
                  set_center : [ 40, -82.75 ],
                },
                styles : {
                  // source: https://snazzymaps.com/style/132/light-gray
                  'custom' :
                  [{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#d3d3d3"}]},{"featureType":"transit","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#b3b3b3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#d7d7d7"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ebebeb"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#a7a7a7"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#efefef"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#696969"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#737373"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#dadada"}]}],
                },
              };
        .container
          .contact-maps-row.row
            .col-md-7.col-md-offset-5
              .contact-maps-box{"data-animation" => "fadeIn"}
                %h2.section-heading Contact Us
                {% editable_text "Contact Us Headline" %}
                %p Want to work with us? Just have questions? Contact us using the contact form below. Let's get started!
                {% endeditable_text %}
                .row
                  %address.col-sm-12
                    %strong Myrick Consulting
                    %ul.fa-ul
                      %li
                        %i.fa-li.fa.fa-home
                        {% editable_text "Address Line 1", format: "raw" %}
                        PO Box 291
                        {% endeditable_text %}
                        %br>/
                        {% editable_text "Address Line 2", format: "raw" %}
                        Lewis Center, OH 43035
                        {% endeditable_text %}
                      %li
                        %i.fa-li.fa.fa-phone
                        {% editable_text "Phone info", format: "raw" %}
                        Phone: 800-571-1957
                        {% endeditable_text %}
                      %li
                        %i.fa-li.fa.fa-envelope-o
                        Email: <a href="mailto:myrickconsulting@gmail.com">myrickconsulting@gmail.com</a>
                %form.form.form-ajax-submit{:action => "{{contents.customer_messages.public_submission_url}}.json", :method => "post"}
                  {% csrf_param %}

                  %p
                    %strong Or drop us a line here:
                  .form-validation.alert
                  .form-group
                    %input.form-control{:name => "content[name]", :placeholder => "Your Name", :type => "text", :value => "{{customer_message.name}}" }
                  .form-group
                    %input.form-control{:name => "content[email]", :placeholder => "Email Address", :type => "text", :value => "{{customer_message.email}}" }
                  .form-group
                    %textarea.form-control{:name => "content[message]", :placeholder => "Message", :rows => "5", :value => "{{customer_message.message}}" }
                  .form-group
                    %button.btn.btn-primary.btn-lg.btn-block Send Message
      / CLOSING
      %section#closing.closing-section.section-dark.section
        .section-background
          / IMAGE BACKGROUND
          .section-background-image.parallax{"data-stellar-ratio" => "0.4"}
            {{ 'contents/step-1.jpg' | theme_image_tag: 'class:opacity-015' }}
        .container
          %h3.closing-shout Ready to start? Take the first step by contacting us!
          .closing-buttons{"data-animation" => "tada"}
            %a.anchor-link.btn.btn-lg.btn-primary{:href => "#contact-maps"} Contact Us
      / FOOTER
      %section#footer.footer-section.section
        .container
          %h3.footer-logo
            {{ 'logos/footer-logo.png' | theme_image_tag }}
          .footer-socmed
            %a{:href => "https://www.facebook.com/myrickconsulting", :target => "_blank"}
              %span.fa.fa-facebook
            %a{:href => "https://twitter.com/Myrickadv", :target => "_blank"}
              %span.fa.fa-twitter
            %a{:href => "https://www.linkedin.com/pub/chris-myers/23/21a/a2", :target => "_blank"}
              %span.fa.fa-linkedin
            %a{:href => "https://plus.google.com/106866312663851652672/posts", :target => "_blank"}
              %span.fa.fa-google-plus
    / LIBRARIES JS
    {{ 'jquery-1.11.2.min.js' | javascript_tag }}
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'respimage.min.js' | javascript_tag }}
    {{ 'jpreloader.min.js' | javascript_tag }}
    {{ 'smoothscroll.min.js' | javascript_tag }}
    {{ 'jquery.nav.min.js' | javascript_tag }}
    {{ 'jquery.inview.min.js' | javascript_tag }}
    {{ 'jquery.counterup.min.js' | javascript_tag }}
    {{ 'jquery.stellar.min.js' | javascript_tag }}
    {{ 'maplace-0.1.3.min.js' | javascript_tag }}
    {{ 'responsiveslides.min.js' | javascript_tag }}
    / MAIN SCRIPT
    {{ 'script.js' | javascript_tag }}
